@mixin media-breakpoint-down ($key) {
    @each $breakpoint, $value in $media-breakpoint {
        @if $breakpoint == $key{
            @media (max-width:$value){
                @content;
            }
        }        
    }  
}

@mixin media-breakpoint-up($key) {
    @each $breakpoint, $value in $media-breakpoint{
        @if $breakpoint == $key{
            @media (min-width:$value){
                @content;
            }
        }
    }
}