.footer{
    width: 100%;
    background-color: #064321;
    color: white;
    padding: 2rem;

    .footer-container{
        width: 80%;
        margin: 0px auto;
        @include media-breakpoint-up(lg){
            width: 95%;
        }
        @include media-breakpoint-up(xl){
            width: 80%;
        }

        .footer-content{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: top;
            flex-direction: column;
            @include media-breakpoint-down(lg){
                text-align: center;
                gap:5rem;
            }
            @include media-breakpoint-up(lg){
                flex-direction: row;
                flex-wrap: wrap;
            }
            ul{
                list-style-type: none;
                margin-left: 0px;
                padding: 0;

                li{
                    margin-bottom: 0.8rem;
                    color: #4EA774, ;
                }

                li:first-child{
                    margin-top: 2rem;
                }
            }

            .content1{
                width: 100%;
                @include media-breakpoint-down(lg){
                    text-align: center;
                }
                @include media-breakpoint-up(lg){
                    width: 30%;
                }
               
            }

            .sanima-desc{
                margin-top: 1rem;
            }
            .sanima-social{
                @include media-breakpoint-down(lg){
                    margin:10px auto;
                }
                display: flex;
                justify-content: space-between;
                width: 50%;
                @include media-breakpoint-up(lg){
                    width: 40%;
                }
                @include media-breakpoint-up(xl){
                    width: 30%;
                }
                align-items: center;
                margin-top: 1rem;
            }
            .sanima-connect{
                margin-top: 3rem;
            }
            .social-sites{
                background-color: white;
                padding: .5rem;
                border-radius: 4px;
                width: 28px;
                height: 28px;
                position: relative;

                img{
                    display: inline;
                    object-fit: contain;
                    position: absolute;
                    top:25%;
                    left:20%;
                }
            }
        }
    }
}
.copyright{
    background-color:#052D16;
    color:white;
    text-align: center;
    padding: 1rem;
}