main{
    width: 100%;
    background-image: url('../../image/newsBackground.png');  
    background-color: #1F74BD; 
    padding: 2rem;

}
section{
    width: 80%;
    margin:0px auto;
    @include media-breakpoint-down(xl){
        width: 100%;
    }

    .heading{
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        color: white;
        @include media-breakpoint-down(lg){
            flex-direction: column;
        }

        h3{
        @include media-breakpoint-down(lg){
            text-align: center;
        }
    }

        .heading-view{
            display: flex;
            justify-content: space-between;

            .heading-image{
                width: 50px;
                height: 50px;
                background-color: white;
                border-radius: 150px;
                margin-top: -10%;
                text-align: center;
            }
        }
    }

}
.news-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center; 

    @include media-breakpoint-down(xl){
        flex-wrap: wrap;
    };
  
    @include media-breakpoint-down(md){
        flex-direction: column;
    }
}
.news-card{
    width: 20%;
    @include media-breakpoint-down(md){
        width: 100%;
    }

    @include media-breakpoint-down(xl){
        width: 45%;
        grid-template-columns:1rem;
    }

    figure{
        background-color: white;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);

        img{
            width: 100%;
            object-fit: contain;
        }
    
        figcaption{
            margin: 2rem 1rem;
    
        h5{
            font-size: 1rem;
            color:#1F74BD
        }
    
        .dateAndEye{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding-bottom: 1rem;
            @include media-breakpoint-down(sm){
                flex-direction: column;
            }
    
            img{
                width: 13.33px;
                height: 10px;
            }
        }   
    }
    }
}